<body style="text-align: center;">
<h1>Simple Blog Application</h1>
<!-- <app-login></app-login>
<app-signup></app-signup>
<button (click)="getName(yourname)">getName</button> 
<button (click)="myEvent('Hi!! ')"> Click me</button>
<br>
<br>-->
<!-- <input type="text" #box (keyup.enter)="myEvent(box.value)"/> -->
<p>
    <button routerLink="create">Create Post</button>
</p>
<p>
<a routerLink="user-list">First Post</a>
</p>

<p>
<a routerLink="admin">Second Post</a>
</p>
<br>
<router-outlet></router-outlet>

</body>
