
<p style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
    1. Life (and the world) is a malfunctioning plane, the more pissed off we let ourselves become about it, the more likely we are to crash. <br><br>
2. Happiness is not a consumable product. It is not something you find by searching for it. It is a naturally arising byproduct of a fulfilling, well-lived life. <br><br>
3. A well-lived life has more to do with perspective than anything else. As long as you can laugh, there is hope.
</p>
<p style="text-align:center;"><i>By - Aaron Nicolos </i></p>